extends layout

block content
  nav.navbar(role='navigation' aria-label='main navigation')
    .container
      .navbar-brand
        a.navbar-item(href='#')
          h1#logo.title Sunday School Database
        a.navbar-burger(role='button' aria-label='menu' aria-expanded='false')
          span(aria-hidden='true')
          span(aria-hidden='true')
          span(aria-hidden='true')
      .navbar-menu
        .navbar-start
          // navbar items
        .navbar-end
          // navbar items
          a.navbar-item
            | View classes
          a.navbar-item
            | New Student
          a.navbar-item
            | admin
          a.navbar-item
            | Logout
  main
    section.section
      .container
        h2.title Class: PP1 and PP2
        // Tab to switch between card view and list view
        .tabs.is-centered.is-medium
          ul
            li.is-active
              a List View
            li
              a Card View
        // End of Tab to switch between card view and list view
        // card view
        .tile.is-ancestor
          .tile.is-parent 
            each val in arrays
              .card
                if val.id%2==0
                  p=arrays.length
                  p= val.id
                  h4
                    b= val.name
          
          .tile.is-parent
            each val in arrays
              .card
                if val.id%3==0
                  img(src='user.png')
                  .card-text
                    h4
                      b Jane Mshamba
                    p
                      | Line 1: 0700123456
                      | Line 2: 0799123456
          .tile.is-parent
            .card
              img(src='user.png')
              .card-text
                h4
                  b Jane Mshamba
                p
                  | Line 1: 0700123456
                  | Line 2: 0799123456
          .tile.is-parent
            .card
              img(src='user.png')
              .card-text
                h4
                  b Jane Mshamba
                p
                  | Line 1: 0700123456
                  | Line 2: 0799123456
        // Seond level
        each val in [1,2,3,4,5,6]
          .tile.is-ancestor
            if val%2==0
              .tile.is-parent
                article.tile.is-child.box
                  p.title One
                  p.subtitle Subtitle
              .tile.is-parent
                article.tile.is-child.box
                  p.title Two
                  p.subtitle Subtitle
          


        .tile.is-ancestor
          each val in arrays
            .tile.is-parent.is-8
              article.tile.is-child.notification.is-primary
                p.title Vertical...
                p.subtitle Top tile
            .tile.is-parent
              article.tile.is-child.notification.is-danger
                p.title Wide tile
                p.subtitle Aligned with the right tile
                .content
                  // Content
            .tile.is-parent
              article.tile.is-child.notification.is-success
                .content
                  p.title Tall tile
                  p.subtitle With even more content
                  .content
                    // Content
            .tile.is-parent
              article.tile.is-child.notification.is-success
                .content
                  p.title Tall tile
                  p.subtitle With even more content
                  .content
                  // Content
        // End of Seond level
        // End of card view
        // List view
        table.table.is-fullwidth.is-striped.is-bordered
          thead
            tr
              th
                abbr(title='Position') Pos
              th Name
              th Phone 1:
              th Phone 2:
          tfoot
            tr
              | &lt;
              th
                abbr(title='Position') Pos
              th Name
              th Phone 1:
              th Phone 2:
          tbody
            each val in arrays
              tr
                td= val.id
                td= val.name
        
        ul
          each val in arrays
            li= val.id
        ul
          each val in arrays
            li= val.name
